<p id="notice"><%= notice %></p>

<h1>Temp Clusters</h1>

<table>
  <thead>
    <tr>
      <th>Cluster Name</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temp_clusters.each do |temp_cluster| %>
      <tr>
        <td><%= temp_cluster.name %></td>
        <td><%= temp_cluster.status_text %></td>
        <td><%= link_to 'Show', temp_cluster %></td>
        <!-- <td><%= link_to 'Edit', edit_temp_cluster_path(temp_cluster) %></td> -->
        <td><%= link_to 'Destroy', temp_cluster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp Cluster', new_temp_cluster_path %>
