<p id="notice"><%= notice %></p>

<div data-controller="cluster">

  <div id="cluster-name-header"><%= cluster_name %></div>
  <div id="cluster-status">
    <% if terminated? %>
      Dead since: <%= terminated_at %>
      <%= cluster_status_badge %>
    <% elsif !activated? %>
      <%= terminated_at %>
      <%= cluster_status_badge %>
    <% else %>
      <%= terminated_at %>
      <%= cluster_status_badge %>
      <div>Name: <%= cluster_name %></div>
      <p>has been activated.</p>
    </div>
  <% end %></div>

  <div id="cluster-actions">
    <% if !activated? %>
      <p>Clicking "Create" will cause a cluster to be born, it will live for only 4 days or less.  You can return here in order to destroy it early.</p>
      <%= form_tag(@temp_cluster, method: 'put', remote: true, data: {target: 'cluster.lightup'}) do %>
        <label for="temp_cluster[node_count]">Node Count?</label>
        <select name="temp_cluster[node_count]">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      <% end %>

      <button data-action="cluster#create">Create</button>

    <% elsif !terminated? %>
      <p>Clicking "Kubeconfig" will download a kube.config, place it in ~/.kube/config or set the <code>KUBECONFIG</code> variable to point at it on your filesystem.</p>
      <button data-action="cluster#kubeconfig">Kubeconfig</button>
      <!-- Future home of some new components for interrogating the cluster -->
    <% else %>
      <p>Pour one out</p>
    <% end %>
  </div>

  <div id="cluster-prognosis">
    <p>
    <% if terminated? %>
      This cluster is terminated.
    <% else %>
      This cluster is temporary!  It will expire at 12:01am Eastern Time, on <%= expiry_date %>.
      You should not deploy any permanent infrastructure on it, this is for testing only.
    <% end %>
    </p>
  </div>

</div>

<!-- <%= link_to 'Edit', edit_temp_cluster_path(@temp_cluster) %> | -->
<%= link_to 'Back', temp_clusters_path %>
